@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: #da2834;
}

body {
  background: #e6eafa;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.2;
}

footer {
  align-items: center;
  background: #9988ee;
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  background: #9988ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9;
}

header a,
footer a {
  color: #ffa;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

header .account {
  align-items: center;
  display: flex;
}

header .account img {
  height: 40px;
}

.board {
  position: relative;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.button.hidden {
  visibility: hidden;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr 32px;
  min-height: 100vh;
}

.disclaimer {
  align-items: flex-start;
  background: #c5ccf2;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
}

.disclaimer h2 {
  background: #da2834;
  color: #eee;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.disclaimer.hidden {
  display: none;
  visibility: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.new-board-form {
  gap: 16px;
}

.new-board-form.hidden {
  display: none;
  visibility: hidden;
}

.new-bord-form.visible {
  display: flex;
  visibility: visible;
}

.new-board-form,
.new-board-form label {
  display: flex;
  flex-direction: column;
}

.post {
  background: #c5ccf2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  max-width: 1200px;
}

.post img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

.post p {
  word-break: break-word;
  width: 100%;
}

.post span:last-child {
  align-items: flex-start;
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .post span:last-child {
    flex-direction: column;
  }
}

.post.reply {
  background: #d6daf0;
}

.post [aria-label="post content"] {
  display: flex;
  flex-direction: column;
}

.post-control .delete-post.hidden,
.post-control .confirm.hidden {
  display: none;
  visibility: hidden;
}

.post-control .delete-post.visible, 
.post-control .confirm.visible {
  visibility: visible;
}

.post-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.post-info [aria-label="author"] {
  font-weight: bold;
  color: #117743;
}

.post-info [aria-label="subject"] {
  color: #0f1367;
  font-weight: bold;
}

.post-info [aria-label="timestamp"] {
  font-style: italic;
}

.reply-container,
.new-thread-container {
  align-items: flex-start;
  background: #e6eafa;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 40px;
}

.reply-form,
.thread-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reply-form > *,
.thread-form > * {
  max-width: 400px;
  width: 100%;
}

.reply-form input,
.thread-form input,
.reply-form textarea,
.thread-form textarea {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.reply-form label,
.thread-form label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rules {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rules h1 {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
  margin-right: 16px;
  list-style: decimal inside;
}

ol > li::marker {
  font-weight: bold;
}

.site-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.thread,
.board {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.user-boards,
.user-threads {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
