@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: #da2834;
}

body {
  background: #ccc;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.95rem;
  line-height: 1.2;
}

button {
  cursor: pointer;
}

button:disabled {
  background: #ffc6c9;
}

footer {
  align-items: center;
  background: #9988ee;
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  background: #9988ee;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
  padding: 4px;
  position: sticky;
  top: 0;
  z-index: 9;
}

@media (max-width: 358px) {
  header {
    flex-direction: column;
  }
}

header a,
footer a {
  color: #001;
  text-decoration: none;
}

header a:hover,
header a:focus {
  font-weight: bold;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

header nav img {
  height: 32px;
}

header nav > * {
  align-items: center;
  background: #d5c5f2;
  display: flex;
  gap: 8px;
  padding: 0 12px 0 12px;
}

header nav > *:hover,
header nav > *:focus {
  outline: 1px solid #001;
}

header .account {
  align-items: center;
  background: #d5c5f2;
  display: flex;
  gap: 8px;
  padding: 0px 8px 0px 8px;
  position: relative;
  text-decoration: none;
}

header .login {
  padding: 6px 12px 6px 12px;
}

header .account img {
  height: 30px;
  margin: 2px;
}

header .account:focus,
header .account:hover {
  cursor: pointer;
  outline: 1px solid #001;
}

header .arrow {
  transition: transform 300ms;
}

header .arrow.rotate {
  transform: rotate(-0.25turn);
}

header .current-location {
  font-size: 1.05rem;
}

header .menu {
  background: #d5c5f2;
  box-shadow: 0 4px 4px #aaa;
  gap: 16px;
  left: 0;
  outline: 1px solid #001;
  padding: 4px 8px 4px 8px;
  position: absolute;
  top: 35px;
  width: 100%;
}

header .menu button {
  background: none;
  border: none;
  font-size: 0.95rem;
  outline: none;
  padding: 0;
}

header .menu button:hover,
header .menu button:focus {
  cursor: pointer;
  font-weight: bold;
}

header .menu.hidden {
  display: none;
}

header .menu ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
button,
textarea {
  border: 2px solid #ccc;
  font-size: 1rem;
  outline: none;
}

input:focus,
button:focus,
button:hover,
textarea:focus {
  border: 2px solid #98e;
}

input:invalid,
button:disabled,
textarea:invalid {
  border: 2px solid #ffc6c9;
}

.board {
  position: relative;
}

.board .thread-replies {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.board .thread-replies > article {
  margin-left: 32px;
}

.boards,
.site-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  padding: 4px;
}

.boards {
}

.button.hidden {
  visibility: hidden;
}

.container {
  background: #e6eafa;
  box-shadow: 0 4px 4px 4px #aaa;
  display: grid;
  grid-template-rows: auto 1fr 32px;
  margin: auto;
  max-width: 900px;
  min-height: 100vh;
}

.dashboard .change-displayname {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.dashboard .change-displayname label {
  display: flex;
  flex-direction: column;
}

.dashboard-loading,
.header-loading,
.home-loading {
  align-items: center;
  display: flex;
  gap: 8px;
}

.disclaimer {
  align-items: flex-start;
  background: #c5ccf2;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
}

.disclaimer h2 {
  background: #da2834;
  color: #eee;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.disclaimer.hidden {
  display: none;
  visibility: hidden;
}

.error {
  background: #ffc6c9;
  height: 1.2rem;
}

.error.hidden {
  visibility: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.home h1 {
  background: #c5ccf2;
  font-size: 1.05rem;
  padding: 4px;
  text-align: center;
  width: 100%;
}

.login form,
.login form label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
} 

.new-board-form {
  gap: 4px;
}

.new-board-form.hidden {
  display: none;
  visibility: hidden;
}

.new-bord-form.visible {
  display: flex;
  visibility: visible;
}

.new-board-form,
.new-board-form label {
  display: flex;
  flex-direction: column;
}

.post {
  background: #c5ccf2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  max-width: 1200px;
}

.post .mod-badge {
  font-size: 1.4rem;
}

.post .mod-info {
  align-items: center;
  color: #da2834;
  display: flex;
  font-weight: bold;
  gap: 4px;
}

.post input {
  height: auto;
  max-width: 100%;
}

.post p {
  word-break: break-word;
  width: 100%;
}

.post .greentext {
  color: #789922;
}

.post .linked-posts {
  display: flex;
  gap: 8px;
}

.post .sticky-info {
  align-items: center;
  color: #ffe;
  background: #da2834;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.post .sticky-info img {
  filter: invert(1);
}

.post-content {
  align-items: flex-start;
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .post-content {
    flex-direction: column;
  }
}

.post.reply {
  background: #d6daf0;
}

.post.sticky {
  background: #d5c5f2;
}

.post [aria-label="post content"] {
  display: flex;
  flex-direction: column;
}

.post-control .delete-post.hidden,
.post-control .confirm.hidden {
  display: none;
  visibility: hidden;
}

.post-control .delete-post.visible, 
.post-control .confirm.visible {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.post-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.post-info [aria-label="author"] {
  font-weight: bold;
  color: #117743;
}

.post-info [aria-label="subject"] {
  color: #0f1367;
  font-weight: bold;
}

.post-info [aria-label="timestamp"] {
  font-style: italic;
}

.reply-container,
.new-thread-container {
  align-items: flex-start;
  background: #e6eafa;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 40px;
}

.reply-form,
.thread-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reply-form .buttons.hidden,
.thread-form .buttons.hidden {
  display: none;
  visibility: hidden;
}

.reply-form .loading.hidden,
.thread-form .loading.hidden {
  display: none;
  visibility: hidden;
}

.reply-form .loading,
.thread-form .loading,
.invalid-route .loading,
.user-boards .loading {
  align-items: center;
  display: flex;
  gap: 8px;
}

.reply-form .loading img,
.thread-form .loading img,
.dashboard-loading img,
.invalid-route .loading img,
.user-boards .loading img,
.home .home-loading img{
  height: 32px;
}

.reply-form > *,
.thread-form > * {
  max-width: 400px;
  width: 100%;
}

.reply-form input,
.thread-form input,
.reply-form textarea,
.thread-form textarea,
.dashboard textarea {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.reply-form label,
.thread-form label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rules .global-rules,
.rules .per-board-rules {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rules h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.rules h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
  margin-right: 16px;
  list-style: decimal inside;
}

ol > li::marker {
  font-weight: bold;
}

.thread,
.board {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.user-boards,
.user-threads,
.user-posts {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.valid {
  background: #c9ffc6;
}
