@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: #da2834;
}

body {
  background: #e6eafa;
  font-family: "Noto Sans", sans-serif;
}

footer {
  align-items: center;
  background: #9988ee;
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  background: #9988ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9;
}

header a,
footer a {
  color: #ffa;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

header .account {
  align-items: center;
  display: flex;
}

header .account img {
  height: 40px;
}

.board {
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr 32px;
  min-height: 100vh;
}

.post {
  background: #c5ccf2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  max-width: 1200px;
}

.post img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

.post p {
  word-break: break-word;
  width: 100%;
}

.post span:last-child {
  align-items: flex-start;
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .post span:last-child {
    flex-direction: column;
  }
}

.post.reply {
  background: #d6daf0;
}

.post [aria-label="post content"] {
  display: flex;
  flex-direction: column;
}

.post-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.post-info [aria-label="author"] {
  font-weight: bold;
  color: #117743;
}

.post-info [aria-label="subject"] {
  color: #0f1367;
  font-weight: bold;
}

.post-info [aria-label="timestamp"] {
  font-style: italic;
}

.reply-container,
.new-thread-container {
  align-items: flex-start;
  background: #e6eafa;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 40px;
}

.reply-form,
.thread-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reply-form > *,
.thread-form > * {
  max-width: 400px;
  width: 100%;
}

.reply-form input,
.thread-form input,
.reply-form textarea,
.thread-form textarea {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.reply-form label,
.thread-form label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.thread,
.board {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
